.button-basic {
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: rgb(108, 204, 233);
  border-radius: 4px;
  border-style: none;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  outline: none;
}

.button-basic-warning {
  background-color: yellow;
}

.button-basic-danger {
  background-color: rgb(236, 83, 83);
}

.button-basic-default {
  background-color: rgb(199, 196, 196);
}

.button-basic-sm {
  width: 50px;
}

.button-basic-xm {
  width: 100px;
}

.button-basic-lg {
  width: 150px;
}