.button-basic {
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: blue;
  border-radius: 4px;
}

.button-basic-warning {
  background-color: yellow;
}

.button-basic-danger {
  background-color: red;
}

.button-basic-sm {
  width: 50px;
}

.button-basic-xm {
  width: 100px;
}

.button-basic-lg {
  width: 150px;
}