.projectContainer-wrapper {
  display: flex;
  height: 100vh;
  // background: var(--black_bg_color);

  .projectContainer-menu {
    box-sizing: border-box;
  }

  .projectContainer-list {
    flex: 1;
    border: 1px solid #ccc;
  }
}