.list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  border: 1px solid #e3e3e3;
  margin: 6px;
  height: 100vh;
  font-size: 16px;

  .list-item {
    width: 200px;
  }

  .list-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    border-bottom: 3px solid #f2f2f2;
  }

  .list-content {
    min-height: 800px;
    border: 2px solid #f2f2f2;
  }

  .task {
    display: flex;
    justify-content: space-between;
    border: 1px solid #2c88df;
    border-left: 4px solid #2c88df;
    background-color: #e6f7fe;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    color: #2c88df;
    font-weight: 600;
  }
}