.bs-animation {
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.bs-animation:empty {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bs-animation-fade-show {
  animation-name: fadeIn;
}

.bs-animation-fade-hide {
  animation-name: fadeOut;
}

@keyframes scaleIn {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

.bs-animation-scale-show {
  animation-name: scaleIn;
}

.bs-animation-scale-hide {
  animation-name: scaleOut;
}

@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotateOut {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.bs-animation-rotate-show {
  animation-name: rotateIn;
  animation-duration: 2s;
}

.bs-animation-rotate-hide {
  animation-name: rotateOut;
  animation-duration: 2s;
}